.hero {
  min-height: 530px;
  background: url(../img/hero.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    text-align: center;
  }

  &__descr {
    color: #fff;
    margin-bottom: 48px;
  }
}

.section {
  &__title {
    margin: 100px 0;
    text-align: center;

    & > span {
      position: relative;

      &::after,
      &::before {
        content: '';
        background: #ECECED;
        width: 30px;
        height: 1px;
        display: inline-block;
        position: absolute;
        top: 6px;
      }

      &::after {
        right: -45px;
      }

      &::before {
        left: -45px;
      }
    }

  }
}