.hero {
  min-height: 530px;
  background: url(../img/hero.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    text-align: center;
  }

  &__descr {
    color: #fff;
    margin-bottom: 48px;
  }
}