.heading {
  font-weight: 400;

  &--h1 {
    font-size: 47px;
    line-height: 60px;
    margin: 10px 0;
  }

  &--light {
    color: #fff;
  }

}

.caption {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;

  &--light {
    color: #fff;
  }
}